.tpl-magazine-a .wx-post {
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.16)),
    repeating-linear-gradient(0deg, rgba(117, 107, 93, 0.02) 0 1px, rgba(255, 255, 255, 0) 1px 5px),
    rgba(0,0,0,0.03);
}

.tpl-magazine-a .wx-section:nth-of-type(5n + 1) {
  --wx-section-bg: rgba(0,0,0,0.03);
  --wx-accent: #44494b;
  --wx-page-color: #dbdad7;
  --wx-h3-color: #181a1b;
  --wx-card-bg: rgba(0,0,0,0.06);
}

.tpl-magazine-a .wx-section:nth-of-type(5n + 2) {
  --wx-section-bg: #faffff;
  --wx-accent: #07bca4;
  --wx-page-color: #b8fffa;
  --wx-h3-color: #06665b;
  --wx-card-bg: #e7ffff;
}

.tpl-magazine-a .wx-section:nth-of-type(5n + 3) {
  --wx-section-bg: rgba(0,0,0,0.03);
  --wx-accent: #44494b;
  --wx-page-color: #dbdad7;
  --wx-h3-color: #181a1b;
  --wx-card-bg: rgba(0,0,0,0.06);
}

.tpl-magazine-a .wx-section:nth-of-type(5n + 4) {
  --wx-section-bg: #fffdfa;
  --wx-accent: #fb6614;
  --wx-page-color: #ffe9d0;
  --wx-h3-color: #662b06;
  --wx-card-bg: #fff5e7;
}

.tpl-magazine-a .wx-section:nth-of-type(5n + 5) {
  --wx-section-bg: #fafffc;
  --wx-accent: #07bc49;
  --wx-page-color: #d0ffe2;
  --wx-h3-color: #06662b;
  --wx-card-bg: #e7fff1;
}

.tpl-magazine-a .wx-section {
  background-color: var(--wx-section-bg);
}

.tpl-magazine-a .wx-page {
  color: var(--wx-page-color);
}
