.tpl-magazine-changsha .wx-post {
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.18)),
    repeating-linear-gradient(0deg, rgba(121, 108, 96, 0.02) 0 1px, rgba(255, 255, 255, 0) 1px 5px),
    #fffdfa;
}

.tpl-magazine-changsha .wx-section:nth-of-type(4n + 1) {
  --wx-section-bg: #fffdfa;
  --wx-accent: #fb6614;
  --wx-page-color: #ffe9d0;
  --wx-h3-color: #662b06;
  --wx-card-bg: #fff5e7;
}

.tpl-magazine-changsha .wx-section:nth-of-type(4n + 2) {
  --wx-section-bg: #fafbff;
  --wx-accent: #526fff;
  --wx-page-color: #d0d9ff;
  --wx-h3-color: #061166;
  --wx-card-bg: #e7ecff;
}

.tpl-magazine-changsha .wx-section:nth-of-type(4n + 3) {
  --wx-section-bg: #fffafc;
  --wx-accent: #cf6f8d;
  --wx-page-color: #efd8e0;
  --wx-h3-color: #7c4158;
  --wx-card-bg: #ffedf0;
}

.tpl-magazine-changsha .wx-section:nth-of-type(4n + 4) {
  --wx-section-bg: #fffffa;
  --wx-accent: #ebcd04;
  --wx-page-color: #fff9af;
  --wx-h3-color: #484004;
  --wx-card-bg: #ffffe7;
}

.tpl-magazine-changsha .wx-section {
  background-color: var(--wx-section-bg);
}

.tpl-magazine-changsha .wx-page {
  color: var(--wx-page-color);
}
