.tpl-magazine-b .wx-post {
  background: #fbfcf9;
}

.tpl-magazine-b .wx-section:nth-of-type(3n + 1) {
  --wx-section-bg: #fafffc;
  --wx-accent: #07bc49;
  --wx-page-color: #d0ffe2;
  --wx-h3-color: #06662b;
  --wx-card-bg: #e6fcee;
}

.tpl-magazine-b .wx-section:nth-of-type(3n + 2) {
  --wx-section-bg: #fffffa;
  --wx-accent: #ebcd04;
  --wx-page-color: #fff9af;
  --wx-h3-color: #484004;
  --wx-card-bg: #fdfbe5;
}

.tpl-magazine-b .wx-section:nth-of-type(3n + 3) {
  --wx-section-bg: #fffdf0;
  --wx-accent: #fb6614;
  --wx-page-color: #ffe9d0;
  --wx-h3-color: #662b06;
  --wx-card-bg: #fff3e5;
}

.tpl-magazine-b .wx-section {
  background: var(--wx-section-bg);
}

.tpl-magazine-b .wx-page {
  color: var(--wx-page-color);
}
